.header {
  padding: 15px 0;
  background-color: var(--background-bloc);

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgb(0 0 0 / 20%) 5px 5px 30px;
  transition: background-color 250ms linear 0s;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  display: flex;
  gap: 50px;
}

.currency__text {
  text-align: center;
  margin-bottom: 10px;
}
