.wrapper {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}

.main-wrapper {
  min-height: calc(100vh - 91px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
